@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.resultItem{
  color: red;
}

.results {
  position: absolute;
  max-height: 150px;
  width: 100%;
  z-index: 2;
  color: red;
  overflow: auto;
  padding: 0 15px 0 0;
  background-color: white;
}

.myCol {
  padding: 0
}
